@charset "UTF-8";

.main{
    width: 100%;
    height: calc(100vh - 8.2vh);
    display: flex;
    justify-content: center;
}

.main > div{
    width: 70%;
    text-align: center;
}

.title{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 3%;
}

.table{
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

.table thead{
    background-color: red;
    color: white;
}

.table td{
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.table th{
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.table tr:nth-child(odd){
    background-color: rgb(243, 242, 242);
}
.table tr:nth-child(even){
    background-color: rgb(189, 189, 189);
}

.opa{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.buttonLock{
    display: flex;
    justify-content: space-between;
    padding: 10px 7px 6px 7px;
    width: 31%;
    cursor: pointer;
    border-radius: 5px;
    background-color: blue;
    color: white;
    transition: 0.5s;
}

.buttonLock:hover{
    background-color: rgb(86, 86, 250);
}

.buttonLock > p{
    margin: 0px;
    padding: 0px;
    font-size: 0.9rem;
    font-weight: 500;
}

.tdStatus{
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.buttonDetails{
    background-color: white;
    border: 1px solid black;
    color: blue;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.sessaoEndereco > div{
    padding-bottom: 5%;
    background-color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
}

.contForm{
    width: 65%;
    margin: auto;
}

.sessaoContato{
    padding-bottom: 5%;
}

.tableContato{
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

.tableContato thead{
    background-color: red;
    color: white;
}

.tableContato td{
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.tableContato th{
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.tableContato tr:nth-child(odd){
    background-color: rgb(243, 242, 242);
}
.tableContato tr:nth-child(even){
    background-color: rgb(189, 189, 189);
}

.buttonDelete{
    background-color: white;
    border: 1px solid black;
    color: red;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.tableForm{
    border-collapse: collapse;
    margin: auto;
}
.tableForm td{
    border: 1px solid black;
    padding: 7px;
}

.tableForm tr{
    border: 1px solid black;
    padding: 7px;
}

.tableForm th{
    border: 1px solid black;
    padding: 7px;
    background-color: darkgrey;
    color: white;
    text-align: center;
}

.tdInput > form > input{
    width: 7rem;
}

.rowCheck > td > span{
    cursor: pointer;
}