.navBar{
    background-color: red;
}

.buttonHamburguer{
    background-color: red;
    border-color: red;
    cursor: pointer;
}

.buttonHamburguer:hover{
    background-color: red;
    border-color: red;
}

.buttonSpan{
    color: white;
}

.teste{
    width: min-content;
}